<div id="<%= dom_id employee %>">
  <p>
    <strong>Ім'я:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Фамілія:</strong>
    <%= employee.second_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Вік:</strong>
    <%= employee.age %>
  </p>

</div>
